In [ ]:
Задание 1.
Ответить на вопрос: есть ли связь между жёсткостью воды и средней годовой смертностью?

Построить точечный график
Рассчитать коэффициенты корреляции Пирсона и Спирмена
Построить модель линейной регрессии
Рассчитать коэффициент детерминации
Вывести график остатков
Задание 2.
Ответить на вопрос: сохраняется ли аналогичная зависимость для северных и южных городов по отдельности?

Разделить данные на 2 группы
Повторить аналогичные шаги из пункта 1 для каждой группы по отдельности

In [1]:
from __future__ import division

import numpy as np
import pandas as pd

from scipy import stats
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import proportion_confint

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
water = pd.read_csv('water.txt', delimiter='\t')
water.info()
water.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 1 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ,"location","town","mortality","hardness"  61 non-null     object
dtypes: object(1)
memory usage: 616.0+ bytes

       ,"location","town","mortality","hardness"
count                                         61
unique                                        61
top               47,"North","Sheffield",1495,14
freq                                           1

In [12]:
water.head()

  ,"location","town","mortality","hardness"
0                 1,"South","Bath",1247,105
1            2,"North","Birkenhead",1668,17
2             3,"South","Birmingham",1466,5
3             4,"North","Blackburn",1800,14
4             5,"North","Blackpool",1609,18

In [15]:
water_frame = pd.DataFrame{data[water], columns=data['feature_names'])

SyntaxError: invalid syntax (<ipython-input-15-2f5860bb8875>, line 1)