In [ ]:
Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [12]:
import pandas as pd
ds=pd.read_csv('ratings.csv', 'r', delimiter=',')
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

In [2]:
Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity

SyntaxError: invalid syntax (<ipython-input-2-940826a44e47>, line 1)

In [ ]:
data = pd.read_csv('power.csv')
filtered_countries = data[((data['country'] == 'Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia'))&((data['category'] == 4) | (data['category'] == 12)| (data['category'] == 21))]
filtered_countries = filtered_countries[(filtered_countries['year'] > 2004) & (filtered_countries['year'] < 2011) & filtered_countries['quantity'] > 0]
filtered_countries.groupby('country')['quantity'].sum()[1]

In [ ]:
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [10]:
import pandas as pd
data=pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,74.64,-0.20,-0.27,NaN
1,Нефть WTI Цены на нефть WTI,73.19,-0.29,-0.39,NaN
2,Природный газ Цена на природный газ,3.23,0.03,0.97,NaN
3,Кофе,152.95,-2.30,-1.48,NaN
4,Кукуруза,656.40,-4.00,-0.61,NaN